h1 {
    color: aqua;
}

.flex {                         *.flex means your aiming for a class where as # means you are targeting and id. as in <div id="something"></div>*
    border: 5px solid green;
    margin: 6px;
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
}

.flex > div {
    background-color: hotpink;
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
    flex: 1 1 250px;
}
